html,body{
    height: 100%;
}
.cool-header {
    padding: 1rem;
    border-bottom: 2px solid #616161;
}

.tips-p {
    padding-left: 1rem
}

.ques-imgs {
    width: 60%;
    margin-bottom: 1rem;
}

.margin-md {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.footer {
    background: #222222;
    color: #ddd;
    padding: 30px 0 25px 2rem;
}
.my-text{
    padding: 1rem;
    border-radius: 4px;
}

@media(max-width:768px) {
    .ques-imgs {
        width: 100%
    }
}